[Desktop Entry]
Type=Application
Name=Initial Setup
Exec=sh -c 'pkill -f gnome-initial-setup 2>/dev/null; sleep 1; gnome-terminal -- /usr/bin/setup'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0
